/*  your css code here. If applicable */
*{
	margin:0px;
}
#heading{
	text-align:center;
}
.middle{
	
	
}
#table-1{
    margin: 0 auto;
	width:600px;
	
}	
#t11{
	text-align:left;
	padding:1px;
}
#t12{
	text-align:center;
	padding:1px;
}
#t13{
	text-align:right;
	padding:1px;
}
#table-2{
	margin: 0 auto;
	width:600px;
}
#t21{
	padding:1px;
}
td{ padding:10px;
  }
#table-3{
	margin: 0 auto;
	width:600px;
	border:1px solid black;
}
#t-image img{
	background-image: url(https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2013_FallP3/Luthra%20Portfolio/images-1.jpeg)
    
}
table td{
	border:1px solid black;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
	


 


