/*  your css code here. If applicable */
*{
	margin:0px;
}
.middle{
	text-align:center;	
	
}
#table-1{
    margin: 0 auto;
	width:600px;
	
}	
.ex1{
	text-align:left;
}
.ex2{
	text-align:right;
}
#table-2{
	margin: 0 auto;
	width:600px;
}
td{ padding:10px;
  }
#table-3{
	margin: 0 auto;
	width:600px;
	border:1px solid black;
}
table td{
	border:1px solid black;
}

	


 


